/* Estilos inspirados no GitHub */
body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    line-height: 1.6;
    background-color: #f6f8fa;
    color: #24292e;
    margin: 0;
    padding: 0;
}

header {
    background-color: #24292e;
    color: #fff;
    padding: 16px 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;

}

section {
    margin-bottom: 20px;
}

section h
